<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row align-items-center justify-content-center" id="encabezado">
        <div class="col-md-4 col-sm-8 titulo">
            <h5 id="titulo">Inazuma Eleven Reloaded</h5>
            <p>El "Otro Episodio 27" ó también llamado Inazuma Eleven Reloaded es una versión alternativa del episodio número 27 de la serie original, en dónde nos cuentan como sería la historia si nunca hubiesen ocurridos los sucesos del Arco Alius (segunda temporada). Esto vendría siendo el prólogo de la nueva temporada, Inazuma Eleven Ares no Tenbin.o para celebrar la victoria. Una explosión en la escuela sucede, y el equipo se dirige inmediatamente hacia allí. Al llegar, el instituto se encontraba en ruinas, y unos extraños seres afirman venir del espacio, del remoto Planeta Alius. El Instituto Raimon deberá recorrer toda Japón para reclutar a los mejores futbolistas del país y crear un equipo capaz de vencer a los de la malvada Academia Alius.</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img id="imagen-titulo" src="https://s1.dmcdn.net/v/UCkEI1Z8eSEqHgyWM/x1080">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-sm-12 text-center">
            <h6 id="episodios-titulo">Episodio: </h6>
            <div class="row video">
                <div class="col-md-8 col-12 mx-auto">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe
                            class="embed-responsive-item"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/CB7Tp9HnazQ"
                            frameborder="0"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
</div>