<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center" id="encabezado">
            <h5 id="titulo">Cronología Alternativa</h5>
            <p>En esta cronología el Raimon no ganó el torneo Fútbol Frontier, lo que produjo una serie de cambios importantes en el desarrollo de la serie. En principio, parecía una línea cronología completamente alternativa, pero lo cierto es que luego se unifica con la cronología original de Inazuma Eleven a través de los eventos acaecidos en el episodio especial Inazuma Eleven Reloaded.</p>
    <div class="row justify-content-center">
            <img id="imagen-titulo" src="https://media.tenor.com/Zaj4Xpx40pcAAAAd/inazuma-eleven-inazuma-eleven-orion.gif">
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h5 class="saga-nombre">Temporadas</h5>
        </div>
    </div>
    <div class="row justify-content-center text-center saga">
        <div class="col-sm-4 col-12 temporada">
            <a routerLink="/ie1"> 
                <img src="assets/ie1.png" class="imagen-temporada">
                <h6># 1 Inazuma Eleven - Temporada 1</h6>
                <p>(Hasta episodio 26)</p>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/iereloaded"> 
                <img src="assets/iereloaded.jpg" class="imagen-temporada">
                <h6>#2 Inazuma Eleven: Reoladed</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/ieouter"> 
                <img src="assets/ieoutercode.jpg" class="imagen-temporada">
                <h6>#3 Inazuma Eleven Outer Code</h6>
            </a>
        </div>
    </div>
    <div class="row justify-content-center text-center saga">
        <div class="col-sm-4 col-12 temporada">
            <a href="/ieares"> 
                <img src="assets/ieares.jpg" class="imagen-temporada">
                <h6>#4 Inazuma Eleven Ares</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/ieorion"> 
                <img src="assets/ieorion.jpg" class="imagen-temporada">
                <h6>#5 Inazuma Eleven Orion</h6>
            </a>
        </div>
    </div>
</div>