<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row align-items-center justify-content-center" id="encabezado">
        <div class="col-md-4 col-sm-8 titulo">
            <h5 id="titulo">Inazuma Eleven Outer Code</h5>
            <p>Esta serie consta en revelar detalles importantes de los personajes nuevos y los de la serie original que aparecerán en la trama de Inazuma Eleven Ares.</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img id="imagen-titulo" src="https://i.ytimg.com/vi/GpDIBL3LaC8/maxresdefault.jpg">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-sm-12">
            <h6 id="episodios-titulo">Episodios: </h6>
            <div class="order-button">
                <button (click)="toggleOrder()">
                    {{ ascendingOrder ? 'Orden Ascendente' : 'Orden Descendente' }}
                    <span [ngClass]="{'rotate': !ascendingOrder}">&#8595;</span>
                </button>
            </div>
            <div class="row">
                <div *ngFor="let video of videos" class="col-md-4 col-12 video-item">
                    <a href="https://www.youtube.com/watch?v={{ video.resourceId.videoId }}" target="_blank">
                        <div class="video-card">
                            <img [src]="video.thumbnails.default.url" alt="{{ video.title }}">
                            <p class="video-title">{{ video.title }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>