<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center" id="encabezado">
            <h5 id="titulo">PELÍCULAS Y ESPECIALESL</h5>
            <h6>En esta lista encontrarás todos y cada una de las películas y especiales de Inazuma Eleven.</h6>
    <div class="row justify-content-center">
            <img id="imagen-titulo" src="https://pa1.narvii.com/6320/5090c38aa85d8ed2ff46c72cbb5a8172b980bdad_hq.gif">
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h5 class="saga-nombre">PELÍCULAS</h5>
        </div>
    </div>
    <div class="row justify-content-center text-center saga">
        <div class="col-sm-4 col-12 temporada">
            <a href="https://www.youtube.com/watch?v=itB4xfpKRBU" target="_blank"> 
                <img src="https://neoapo.com/images/anime/3580/b50c98c72ce1c83fe1cbcf3f7c18d0be.jpg" class="imagen-temporada">
                <h6>Inazuma Eleven: La Película</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="https://www.youtube.com/watch?v=ZFVj9CGvVCs" target="_blank"> 
                <img src="https://i.ytimg.com/vi/Wj19DUCTOn8/maxresdefault.jpg" class="imagen-temporada">
                <h6>Inazuma Eleven GO La Película: Grifo el lazo absoluto</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="https://www3.animeflv.net/ver/inazuma-eleven-go-vs-danball-senki-w-1" target="_blank"> 
                <img src="https://th.bing.com/th/id/OIP.qL7cx8tjEP7UE26PmKiXowHaEK?pid=ImgDet&rs=1" class="imagen-temporada">
                <h6>Inazuma Eleven GO VS Danball Senki W</h6>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h5 class="saga-nombre">ESPECIALES</h5>
        </div>
    </div>
    <div class="row justify-content-center text-center saga">
        <div class="col-sm-4 col-12 temporada">
            <a href="https://www.youtube.com/watch?v=6IAdtNydFV4" target="_blank"> 
                <img src="https://www.animeclick.it/images/Anime_big/InazumaEleven-ChouJigenDreamMatch/InazumaEleven-ChouJigenDreamMatch9.jpg" class="imagen-temporada">
                <h6>Inazuma Eleven: Hiperdimensional, un Partido de Ensueño</h6>
            </a>
        </div>
    </div>
</div>