<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center" id="encabezado">
            <h5 id="titulo">CRONOLOGÍA ORIGINAL</h5>
            <h6>Disfruta de la cronología original.</h6>
    <div class="row justify-content-center">
            <img id="imagen-titulo" src="https://i.pinimg.com/originals/d2/ec/53/d2ec533b052725a6c1dd7461c081c253.gif">
    </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h5 class="saga-nombre">Saga original</h5>
        </div>
    </div>
    <div class="row justify-content-center text-center saga">
        <div class="col-sm-4 col-12 temporada">
            <a routerLink="/ie1"> 
                <img src="assets/ie1.png" class="imagen-temporada">
                <h6>Inazuma Eleven - Temporada 1</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/ie2"> 
                <img src="assets/ie2.png" class="imagen-temporada">
                <h6>Inazuma Eleven - Temporada 2</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/ie3"> 
                <img src="assets/ie3.png" class="imagen-temporada">
                <h6>Inazuma Eleven - Temporada 3</h6>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h5 class="saga-nombre">Saga <span id="titulo-go">Go</span></h5>
        </div>
    </div>
    <div class="row justify-content-center text-center saga">
        <div class="col-sm-4 col-12 temporada">
            <a href="/iego1"> 
                <img src="assets/iego1.png" class="imagen-temporada">
                <h6>Inazuma Eleven Go - Temporada 1</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/iego2"> 
                <img src="assets/iego2.png" class="imagen-temporada">
                <h6>Inazuma Eleven Go - Temporada 2 Chrono Stones</h6>
            </a>
        </div>
        <div class="col-sm-4 col-12 temporada">
            <a href="/iego3"> 
                <img src="assets/iego3.png" class="imagen-temporada">
                <h6>Inazuma Eleven Go - Temporada 3 Galaxy</h6>
            </a>
        </div>
    </div>
</div>