<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 saga-content">
            <a routerLink="/original"> 
                <img class="saga-image" src="https://fondosmil.com/fondo/22406.jpg" alt="Saga Original">
                <div class="saga-label">SAGA ORIGINAL</div>
            </a>
        </div>
        <div class="col-md-6 saga-content">
            <a routerLink="/alternativa"> 
                <img class="saga-image" src="https://wallpaperaccess.com/full/3669774.jpg" alt="Saga Alternativa">
                <div class="saga-label">SAGA ALTERNATIVA</div>
            </a>
        </div>
    </div>
</div>